
.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;;
}
.mainArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainGrid{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onPathFound{
    animation: pathFound 3s ease;
    animation-delay: 1s;
}
.onPathNotFound{
    animation: pathNotFound 3s ease;
    animation-delay: 1s;
}
@keyframes pathFound{
   
    25%{
        box-shadow: 10px 10px 50px rgb(50, 200, 255),-10px -10px 50px rgb(249, 63, 255);
    }
    100%{
        box-shadow: none;
    }
}
@keyframes pathNotFound{
    25%{
        box-shadow: 10px 10px 30px rgb(255, 60, 76),-10px -10px 30px rgb(255, 49, 66);
    }
    100%{
        box-shadow: none;
    }
}
