.custom-input-form{
    display: flex;
    padding: 0px;
    height: 35%;
    margin: 15px;
    /* border: 1px solid black; */
}.custom-input-form input{
   /* width: 100%;   */
   padding: 10px;
   color: steelblue;
   padding: 2px;
   box-sizing: border-box;
   height: 100%;
   margin: 4px;
   width: 40px;
  
}
.container-closed-form{
    /* border: 1px solid black; */
    transition : all 0.2s;
    position: relative;
    display:flex;
    opacity: 0;
    width: 0px;
    pointer-events: none;
    transform: translateX(20px);
    /* justify-content: center; */
    align-items: center;
}
.container-open-form{
    /* border: 1px solid black; */
    transition : all 0.5s;
    position: relative;
    display:flex;
    align-items: center; 
    /* width: 100px; */
    opacity: 1;
    transform: translateX(0px);

}
.label{
   /* position: relative; */
   border: 1px solid steelblue;
   font-family: 'Roboto';
   font-size: 15px;
   padding: 3px;
   font-weight: 200;
   /* bottom: 0%; */
   /* left: 20%; */

   border: 1px solid black;
   display: flex;
   align-items: center;
}
.label:hover{
    color:  rgb(247, 62, 62);
    cursor: pointer;
   
}
.label:active{
 
  box-shadow: 0 0 5px -1px #4caf8c;
}
.custom-input-form-button{
  box-sizing: border-box;
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: center;
  transition:  0.2s ease-in;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 300;
  padding : 4px;
  background-color: rgb(133, 225, 255);
  box-shadow: 0.5px 0.5px 2px;
  color: black;
  height: 100%;
  border-radius: 100%;
  /* border: 2px solid #4caf8c;  */
  /* border-radius: 4px; */
}
.custom-input-form-button:hover{
    color:  rgb(6, 103, 103);
    cursor: pointer;
  
}
.custom-input-form-button:active{

  box-shadow: 0 0 5px -1px #4caf8c;
}
