
.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;;
}
.mainArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainGrid{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
