.node{
    /* background-color: antiquewhite; */
    border: 1px solid steelblue;
    transition : all 0.3s; 
    
    align-items: center;
    justify-content: center;

    /* background-color: black; */
  
}
.isStart{
  background-color: rgb(122, 222, 233);
  animation-name: startAnimation;
  animation-duration: 0.8s; 
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}
.isEnd{
  background-color: rgb(243, 116, 194);
  animation-name: endAnimation;
  animation-duration: 0.8s; 
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}
.visited{
    background-color:rgba(0, 190, 218, 0.75);
    animation-name: visitedAnimation;
    animation-duration: 1.2s; 
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running; 
    /* border: 1px white solid; */
}
.isWall{
  /* background-color: black; */
  transition: all 0.3s;
  animation-name: wallAnimation;
  animation-duration: 0.3s; 
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; 

}
.shortestPathNode{
  /* background-color:rgba(0, 190, 218, 0.75); */
  background-color: rgba(251, 253, 110, 0.979);
  animation-name: shortestPathNodeAnimation;
  animation-duration: 1.2s; 
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}.isWeighted{
  background-color: rgba(253, 110, 122, 0.979);
}
@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(250, 132, 214, 0.979);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(32, 193, 238, 0.837);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(34, 227, 230, 0.75);
    }

    100% {
      transform: scale(1);
      background-color: rgba(98, 245, 230, 0.823);
    }
  }

  
  @keyframes wallAnimation {
    0%{
      transform: scale(0);
      background-color: aqua 
    }
    50% {
      background-color: aqua;
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      background-color :black
    }

  }
  @keyframes startAnimation{
    0%{
      transform: scale(0.2);
      background-color: rgb(38, 91, 198) ;
      border-radius:100%;
    }
   
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      background-color: rgb(93, 229, 250);
    }
  }
  @keyframes endAnimation{
    0%{
      transform: scale(0.2);
      background-color: rgb(206, 21, 89) ;
      border-radius:100%;
    }
   
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      background-color: rgb(243, 116, 194);

    }
  }
  @keyframes shortestPathNodeAnimation{
    0% {
      transform: scale(0.3);
      background-color: rgba(248, 54, 103, 0.979);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(251, 253, 110, 0.979);

    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(73, 231, 136, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(251, 253, 110, 0.979);
      /* background-color: rgba(245, 235, 98, 0.823); */
    }
  }

  .imageContainer{
    position: relative;
    max-height: 100%;
    max-width: 100% ;
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
  }
  .weightImage{
    position: absolute;
    animation-name: addImage;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running; 
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    /* max-width: inherit; */
    /* max-height: inherit; */
    height: 40px;
    width: 20px ;
    bottom: 10px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
       user-select: none;
  }
  @keyframes addImage{
    0%{
     transform: scale(0.3);
      /* background-color: lavender; */
    }
    50%{
     
    }
    75%{
      transform: scale(1.2);
    }
    100%{
      transform : scale(1);
      /* background-color: lightblue; */
    }
  }
  